In [79]:
#imports
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

##Initial data analysis and cleaning

In [80]:
#reading the csv file

df = pd.read_csv('data/2023 HCP Case Data - Sheet1.csv', sep=',')
print(df.shape)
df.head(5)

(16680, 13)

,OrgID,EnrollDate,ChurnDate,OrgSize,Industry,IndustryGroup,Enrollment Plan,PromoType,Acquisition Channel,F28 Active Rate,Avg Lifetime Active,F28 Cc Flag,eLTV/CAC
0,44,2/1/2021,NaN,0-1,Flooring,Other,extra large,No Promo,Marketing - Paid,60.70%,9.60%,0,4.1
1,70,3/1/2022,NaN,0-1,Plumbing,Plumbing,starter,No Promo,NaN,7.10%,34.00%,0,1.2
2,1494,10/2/2020,NaN,0-1,Carpet Cleaning,Carpet Cleaning,small,No Promo,Product,100.00%,37.90%,1,3.4
3,1604,10/8/2020,12/8/2020,11+,Restoration,Other,large,2+ month,Sales,50.00%,0.40%,0,6.2
4,1652,2/3/2020,3/2/2020,11+,Solar & Energy,Other,large,One Month,Sales,0.00%,0.10%,0,4.7

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16680 entries, 0 to 16679
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrgID                16680 non-null  int64
 1   EnrollDate           16680 non-null  object
 2   ChurnDate            6703 non-null   object
 3   OrgSize              16671 non-null  object
 4   Industry             16655 non-null  object
 5   IndustryGroup        16680 non-null  object
 6   Enrollment Plan      16680 non-null  object
 7   PromoType            16680 non-null  object
 8   Acquisition Channel  15947 non-null  object
 9   F28 Active Rate      16680 non-null  object
 10  Avg Lifetime Active  16680 non-null  object
 11  F28 Cc Flag          16680 non-null  int64
 12  eLTV/CAC             16549 non-null  float64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.7+ MB

In [82]:
#data cleaning
df['EnrollDate'] = pd.to_datetime(df['EnrollDate'])
df['ChurnDate'] = pd.to_datetime(df['ChurnDate'])
df['F28 Active Rate'] = df['F28 Active Rate'].str.replace('%', '').astype(float) / 100
df['Avg Lifetime Active'] = df['Avg Lifetime Active'].str.replace('%', '').astype(float) / 100
df['Enrollment Plan'] = df['Enrollment Plan'].str.capitalize()
df['Enrollment Plan'] = pd.Categorical(df['Enrollment Plan'], categories=['Freeze', 'Starter', 'Small', 'Medium', 'Large', 'Extra large'], ordered=True)
df['OrgSize'] = pd.Categorical(df['OrgSize'], categories=['0-1', '2-6', '7-10', '11+'], ordered=True) #there are NaN values in this column, probably due to some input error

#droping rows

#droping Enrollment Plan = Freeze, only 4 orgIDS, not enough to make a good analysis
i = df[df['Enrollment Plan'] == 'Freeze'].index
df.drop(labels = i, axis = 0, inplace=True)

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16677 entries, 0 to 16679
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrgID                16677 non-null  int64
 1   EnrollDate           16677 non-null  datetime64[ns]
 2   ChurnDate            6702 non-null   datetime64[ns]
 3   OrgSize              16668 non-null  category
 4   Industry             16652 non-null  object
 5   IndustryGroup        16677 non-null  object
 6   Enrollment Plan      16677 non-null  category
 7   PromoType            16677 non-null  object
 8   Acquisition Channel  15946 non-null  object
 9   F28 Active Rate      16677 non-null  float64
 10  Avg Lifetime Active  16677 non-null  float64
 11  F28 Cc Flag          16677 non-null  int64
 12  eLTV/CAC             16546 non-null  float64
dtypes: category(2), datetime64[ns](2), float64(3), int64(2), object(4)
memory usage: 1.6+ MB

In [84]:
df.describe(include='all')

,OrgID,EnrollDate,ChurnDate,OrgSize,Industry,IndustryGroup,Enrollment Plan,PromoType,Acquisition Channel,F28 Active Rate,Avg Lifetime Active,F28 Cc Flag,eLTV/CAC
count,16677.000000,16677,6702,16668,16652,16677,16677,16677,15946,16677.000000,16677.000000,16677.000000,16546.000000
unique,NaN,NaN,NaN,4,97,13,5,4,7,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,0-1,Heating & Air Conditioning,Other,Small,One Month,Sales,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,8288,2973,4235,10010,10225,6002,NaN,NaN,NaN,NaN
mean,350415.552078,2021-05-09 15:28:44.554775808,2021-07-08 09:55:09.937332224,NaN,NaN,NaN,NaN,NaN,NaN,0.283278,0.247109,0.258200,3.349958
min,44.000000,2020-01-04 00:00:00,2020-01-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.200000
25%,352491.000000,2021-03-04 00:00:00,2021-05-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.036000,0.011000,0.000000,1.200000
50%,368242.000000,2021-05-27 00:00:00,2021-08-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.143000,0.078000,0.000000,2.200000
75%,390281.000000,2021-08-20 00:00:00,2021-10-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,0.464000,1.000000,3.800000
max,410653.000000,2022-10-28 00:00:00,2022-12-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,40.000000
std,73633.385607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.299557,0.299245,0.437658,3.372126

In [92]:
#create field to see how long a customer has been enrolled
df['Enrollment Duration'] = (df['ChurnDate'] - df['EnrollDate']).dt.days
max_date = df['ChurnDate'].max()
print(f'Max Date: {max_date}')
df['Enrollment Duration'] = df['Enrollment Duration'].fillna((max_date - df['EnrollDate']).dt.days)
df.head()

Max Date: 2022-12-09 00:00:00

,OrgID,EnrollDate,ChurnDate,OrgSize,Industry,IndustryGroup,Enrollment Plan,PromoType,Acquisition Channel,F28 Active Rate,Avg Lifetime Active,F28 Cc Flag,eLTV/CAC,Enrollment Duration
0,44,2021-02-01,NaT,0-1,Flooring,Other,Extra large,No Promo,Marketing - Paid,0.607,0.096,0,4.1,676.0
1,70,2022-03-01,NaT,0-1,Plumbing,Plumbing,Starter,No Promo,NaN,0.071,0.340,0,1.2,283.0
2,1494,2020-10-02,NaT,0-1,Carpet Cleaning,Carpet Cleaning,Small,No Promo,Product,1.000,0.379,1,3.4,798.0
3,1604,2020-10-08,2020-12-08,11+,Restoration,Other,Large,2+ month,Sales,0.500,0.004,0,6.2,61.0
4,1652,2020-02-03,2020-03-02,11+,Solar & Energy,Other,Large,One Month,Sales,0.000,0.001,0,4.7,28.0

In [86]:
#people are canceling their subscription to get a promotion
#people canceling their subscription to reduce their plan

df_filtered = df[df.groupby('OrgID')['OrgID'].transform('size') > 1]
#with pd.option_context("display.max_rows", 1000):
#    display(df_filtered)

#churned users that renewed for each promo type 
df_filtered[df_filtered['ChurnDate'].notnull()].groupby('PromoType')['PromoType'].count()

PromoType
2+ month               11
No Promo               91
One Month              58
Special - One Month     9
Name: PromoType, dtype: int64

In [88]:
#percentual of users for each promo type
df.groupby('PromoType')['PromoType'].count() / len(df) * 100

PromoType
2+ month                7.417401
No Promo               21.922408
One Month              61.311987
Special - One Month     9.348204
Name: PromoType, dtype: float64

In [89]:
#percentual of churned users for each promo type 
df[df['ChurnDate'].notnull()].groupby('PromoType')['PromoType'].count() / len(df) * 100

PromoType
2+ month                1.774900
No Promo                6.296096
One Month              29.033999
Special - One Month     3.082089
Name: PromoType, dtype: float64

In [90]:
#percentual of churned users
df[df['ChurnDate'].notnull()]['ChurnDate'].count() / len(df) * 100

np.float64(40.18708400791509)

## 1 - Does One Month promos are worth it?

Questions:\
1 - How many new users does One Month promos get?\
4 - How many of these users churned?\
2 - How many churned users does it get back?\
3 - How many upsells does it get?\

5 - What is the LTV/CAC for these kind of campaigns?\

\
About the data:\
1 - How can we know if the estimated LTV was achieved? \
2 - How is the LTV calculated? \
3 - How is the CAC calculated? Is it the same for everyone? \
4 - Can we have LTV and CAC separated?

In [102]:
# 1 - How many new users does One Month promos get?
df_deduplicated = df.drop_duplicates(subset='OrgID')
new_users = df_deduplicated[df_deduplicated['PromoType'] == 'One Month']['OrgID'].nunique()
print(f'New Users from One Month Promo: {new_users}')

New Users from One Month Promo: 10188

In [106]:
# 2- How many of these users churned? What is the churn rate? What is the average duration of these users?
churned_users = df_deduplicated[(df_deduplicated['PromoType'] == 'One Month') & (df_deduplicated['ChurnDate'].notnull())]['OrgID'].nunique()
churned_users = df_deduplicated[df_deduplicated['PromoType'] == 'One Month']['ChurnDate'].count()
print(f'Churned Users from One Month Promo: {churned_users}')
print(f'Churn Rate from One Month Promo: {churned_users / new_users * 100:.2f}%')
avg_duration = df_deduplicated[df_deduplicated['PromoType'] == 'One Month']['Enrollment Duration'].mean()
print(f'Average Duration from One Month Promo: {avg_duration:.2f} days')

Churned Users from One Month Promo: 4829
Churn Rate from One Month Promo: 47.40%
Average Duration from One Month Promo: 331.73 days